{{ define "extra-head" }}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{{ end }}

{{ define "extra-style" }}
<link rel="stylesheet" href="/reveal.js/css/reveal.css">
<link rel="stylesheet" href="/reveal.js/css/theme/black.css">

<!-- Theme used for syntax highlighting of code -->
<link rel="stylesheet" href="/reveal.js/lib/css/zenburn.css">
<link rel="stylesheet" href="/css/slide.css">
{{ end }}

{{ define "extra-script" }}
<!-- Printing and PDF exports -->
<script>
var link = document.createElement( 'link' );
link.rel = 'stylesheet';
link.type = 'text/css';
link.href = window.location.search.match( /print-pdf/gi ) ? '/reveal.js/css/print/pdf.css' : '/reveal.js/css/print/paper.css';
document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>
{{ end }}

{{ define "body" }}
<div class="reveal">
	<div class="slides">
		<section>
			<h1 class="title">{{ .Title }}</h1>
			<h2 class="author">{{ $.Param "author" }}</h2>
		</section>
		{{ range  split .Content (printf "<p>%s</p>" ($.Param "separator")) }}
		<section class="slide level1">
			{{ . | safeHTML }}
		</section>
		{{ end }}
	</div>
</div>

<div class="reveal">
	<div class="footer">
		{{ partial "_footer.html" . }}
	</div>
</div>

<script src="/reveal.js/lib/js/head.min.js"></script>
<script src="/reveal.js/js/reveal.js"></script>

<script>
// More info https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
	history: true,

	// More info https://github.com/hakimel/reveal.js#dependencies
	dependencies: [
		{ src: '/reveals.js/plugin/markdown/marked.js' },
		{ src: '/reveals.js/plugin/markdown/markdown.js' },
		{ src: '/reveals.js/plugin/notes/notes.js', async: true },
		{ src: '/reveals.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
	]
});
</script>
{{ end }}
