section.level2 > h1 {
    font-size: 150%;
}

section.level1 > h1 {
    font-size: 150%;
}

h1.title {
  font-size: 200%;
}

.reveal .footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
  width: 90%;
}

.reveal .footer div.pullleft {
  float: left;
}

.reveal .footer div.pullright {
  float: right;
}
