main {
  min-height: -webkit-calc(100vh - 204px);
  min-height: -moz-calc(100vh - 204px);
  min-height: calc(100vh - 204px);
}
main.home {
  min-height: -webkit-calc(100vh - 717px);
  min-height: -moz-calc(100vh - 717px);
  min-height: calc(100vh - 717px);
}
.masthead.segment {
  min-height: 600px;
  padding: 1em 0em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

header {
  margin-bottom: 1em;
}

.print-pdf .reveal .footer {
  display: none;
}
