<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    {{ block "extra-head" . }}
    {{ end }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    {{ block "extra-style" . }}
    {{ end }}
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>
    {{ block "extra-script" . }}
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
    <div class="pusher">
      {{ partial "header.html" . }}
      <main class="main{{if .IsHome}} home{{end}}">
        {{ block "content" . }}
        {{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ end }}
  </body>
</html>
