<div class="ui inverted three columns grid segment">
  <div class="column">
    <div class="ui breadcrumb">
      <a href="/">Home</a>
      <div class="divider">
        /
      </div>
      {{ if .IsPage }}
      <a href="{{ .Section | relURL }}">{{ .Section | title | pluralize }}</a>
      <div class="divider">
        /
      </div>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ if eq .Section "slide" }}
      <div class="divider">
        /
      </div>
      <a href="?print-pdf">PDF</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="column center aligned">
    &copy; 2017 He Zhenxing
  </div>
  <div class="column right aligned">
    Build with <a href="https://gohugo.io">Hugo</a> and styled with <a href="https://semantic-ui.com">Semantic-UI</a>
  </div>
</div>
