<header>
  <div class="ui inverted vertical {{ if .IsHome }}masthead{{ end }} center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a href="{{.URL}}" class="item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)}} active{{end}}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    {{ if .IsHome }}
    <div class="ui text container">
      <h1 class="ui inverted header">{{ .Site.Title }}</h1>
      <h2>He Zhenxing's GitLab pages</h2>
    </div>
    {{ end }}
  </div>
</header>
