{{ define "content" }}
<div class="ui container">
  <div class="ui segment">
    <h2>说明</h2>
    <p>
      幻灯片（slide）是使用 Markdown 语言编写，使用 Hugo 生成 HTML，并使用 RevealJS
      渲染。在幻灯片的地址后面添加 ?print-pdf 就可以生成
      <a href="/slide/rpm-build/?print-pdf">PDF</a> 格式的渲染，
      然后选择`打印`(Ctl+P)，目标打印机选择`另存为 PDF` 就可以保存为 PDF 文档。
    </p>
  </div>
  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .RelPermalink }}"> {{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
